@import "header";
@import "cinema-list";
@import "loader";
@import "popup";

body, html {
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
  font-size: 16px;
  background-color: #edeeef;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;


  @media screen and (min-width: 1200px) {
    max-width: 640px;
  }
}

.row {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

